<%-include ../Partials/header.ejs %>
<%-include ../Partials/main_nav.ejs %>
<link rel="stylesheet" type="text/css" href="Content/about.css"> 
<h2> This page is going to consist on information about the pet shop </h2>
<%- include ../Partials/footer.ejs %>