<%-include ../Partials/header.ejs %>
<%-include ../Partials/main_nav.ejs %>
<link rel="stylesheet" type="text/css" href="Content/home.css"> 
<h1> Welcome to The Purr-fect Place</h1>
<%- include ../Partials/footer.ejs %>