<%-include ../Partials/header.ejs %>
<%-include ../Partials/main_nav.ejs %>
<link rel="stylesheet" type="text/css" href="Content/products.css"> 
<h2> This page is going to be about the animals we have etc </h2>
<%- include ../Partials/footer.ejs %>